<html>
<body>

<h2>HTML Forms</h2>

<form action="/weather/location" method="get" >
  <label for="name">Name of location:</label><br>
  <input type="text" name="name" placeholder="Name"><br><br>
  <input type="submit" value="Submit">
</form> 
</body>
</html>